In [1]:
import tensorflow as tf

In [2]:
import sys
import pandas as pd
pd.options.display.float_format = '{:.0f}'.format
import numpy  as np
import glob
import tensorflow as tf
import openpyxl

In [ ]:
#---------------------------------------------------------------------------------------------------------------
#df2 - 7월 데이터
#df3- 8월 데이터
#df4 - 9월 데이터
# df5- 10월 데이터
# df6 = 11월 데이터
# df7 = 12월 데이터
#---------------------------------------------------------------------------------------------------------------

In [4]:
#read an excel file & make it into a DATAFRAME!
#7월 SHIPMENT-MOVEOUT (바코드별로)
df = pd.read_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\이마트 HM\July.xlsx")

In [5]:
df
# 이것은 GS SUPER 의 7월달 데이터프레임!!!!!!!!!!!!!!!!!!!!

,CUSTOM_NAME,Product_name(Customer),BARCODE,DATE,연간 주,TOTAL IT,TOTAL QTY,TOTAL SU,|SHIPMENT-MOVEOUT|,SHIPMENT-MOVEOUT
0,이마트 HM,NaN,nan,2019-07-03,27,nan,0,nan,0,0
1,이마트 HM,NaN,nan,2019-07-04,27,nan,0,nan,0,0
2,이마트 HM,NaN,nan,2019-07-05,27,nan,0,nan,0,0
3,이마트 HM,NaN,nan,2019-07-08,28,nan,0,nan,0,0
4,이마트 HM,NaN,nan,2019-07-09,28,nan,0,nan,0,0
...,...,...,...,...,...,...,...,...,...,...
12352,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-07-27,30,336,6,19,330,330
12353,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-07-28,31,nan,5,nan,5,-5
12354,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-07-29,31,216,11,12,205,205
12355,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-07-30,31,1416,3,79,1413,1413
12356,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-07-31,31,216,4,12,212,212

In [6]:
#CHECK DATA TYPE
df.dtypes

#check index!
#df.index

CUSTOM_NAME                       object
Product_name(Customer)            object
BARCODE                          float64
DATE                      datetime64[ns]
연간 주                               int64
TOTAL IT                         float64
TOTAL QTY                        float64
TOTAL SU                         float64
|SHIPMENT-MOVEOUT|                 int64
SHIPMENT-MOVEOUT                   int64
dtype: object

In [7]:
#제품명 개수 확인하기.
df['Product_name(Customer)'].value_counts()
#-----------------------------------------------------------602개의 UNIQUE 한 제품

퓨전 파워 면도기 1UP                       38
팬틴 미셀라 퓨어& 모이스춰 트리트먼트 500ml         29
오랄비 고탄력 초미세모 틈새케어4입                 29
오랄-비 왁스 치실                          29
오랄비 초미세모 크로스액션 5입(이마트)              29
                                    ..
다우니 엑스퍼트 실내 건조 700ml                 1
헤드앤숄더 실키클린 850ml 샴푸                  1
헤드앤숄더 1950팩-가려운 두피 케어(Barcelona)     1
오랄비 스테이지스3 프린세스 2pX4입 (코스트코)         1
허벌에센스 클린 화이트 스트로베리 & 스윗 민트 샴푸        1
Name: Product_name(Customer), Length: 560, dtype: int64

In [8]:
#바코드 개수 확인하기 (unique values!!!!!!!)
df.BARCODE.unique()

array([           nan, 3.70002396e+10, 3.70002396e+10, 3.70002432e+10,
       3.70002432e+10, 3.70002432e+10, 3.70003214e+10, 4.74001792e+10,
       4.74001793e+10, 4.74002414e+10, 5.61000071e+10, 3.00410826e+11,
       3.00410847e+11, 3.00410847e+11, 3.00416691e+11, 3.01426001e+12,
       3.01426010e+12, 3.01426021e+12, 3.01426021e+12, 3.01426022e+12,
       3.01426022e+12, 3.01426026e+12, 3.01426027e+12, 3.01426027e+12,
       3.01426027e+12, 3.01426028e+12, 3.01426028e+12, 3.01426028e+12,
       3.01426030e+12, 3.01426073e+12, 3.01426078e+12, 3.01426078e+12,
       3.01426081e+12, 3.01426081e+12, 3.01426081e+12, 3.01426081e+12,
       3.01426084e+12, 3.01426085e+12, 3.01426085e+12, 3.01426085e+12,
       4.10333003e+12, 4.21020103e+12, 4.21020103e+12, 4.21020111e+12,
       4.21020112e+12, 4.21020112e+12, 4.21020115e+12, 4.21020116e+12,
       4.21020116e+12, 4.21020116e+12, 4.21020116e+12, 4.21020116e+12,
       4.21020116e+12, 4.21020116e+12, 4.21020116e+12, 4.21020117e+12,
       4.21020118e+12, 4.21020118e+12, 4.21020118e+12, 4.21020118e+12,
       4.21020119e+12, 4.21020119e+12, 4.21020134e+12, 4.21020175e+12,
       4.21020175e+12, 4.21020175e+12, 4.21020175e+12, 4.21020175e+12,
       4.21020179e+12, 4.21020181e+12, 4.21020181e+12, 4.21020182e+12,
       4.21020182e+12, 4.21020182e+12, 4.21020184e+12, 4.90243001e+12,
       4.90243001e+12, 4.90243011e+12, 4.90243011e+12, 4.90243011e+12,
       4.90243016e+12, 4.90243016e+12, 4.90243023e+12, 4.90243024e+12,
       4.90243024e+12, 4.90243024e+12, 4.90243024e+12, 4.90243024e+12,
       4.90243024e+12, 4.90243024e+12, 4.90243025e+12, 4.90243026e+12,
       4.90243027e+12, 4.90243027e+12, 4.90243028e+12, 4.90243029e+12,
       4.90243029e+12, 4.90243030e+12, 4.90243030e+12, 4.90243030e+12,
       4.90243030e+12, 4.90243031e+12, 4.90243031e+12, 4.90243031e+12,
       4.90243031e+12, 4.90243031e+12, 4.90243031e+12, 4.90243031e+12,
       4.90243031e+12, 4.90243031e+12, 4.90243031e+12, 4.90243031e+12,
       4.90243032e+12, 4.90243033e+12, 4.90243033e+12, 4.90243034e+12,
       4.90243035e+12, 4.90243035e+12, 4.90243035e+12, 4.90243036e+12,
       4.90243036e+12, 4.90243036e+12, 4.90243036e+12, 4.90243037e+12,
       4.90243037e+12, 4.90243037e+12, 4.90243037e+12, 4.90243037e+12,
       4.90243038e+12, 4.90243038e+12, 4.90243038e+12, 4.90243038e+12,
       4.90243038e+12, 4.90243038e+12, 4.90243038e+12, 4.90243042e+12,
       4.90243042e+12, 4.90243042e+12, 4.90243042e+12, 4.90243042e+12,
       4.90243042e+12, 4.90243044e+12, 4.90243044e+12, 4.90243044e+12,
       4.90243045e+12, 4.90243045e+12, 4.90243045e+12, 4.90243045e+12,
       4.90243045e+12, 4.90243046e+12, 4.90243046e+12, 4.90243046e+12,
       4.90243046e+12, 4.90243046e+12, 4.90243047e+12, 4.90243047e+12,
       4.90243047e+12, 4.90243047e+12, 4.90243047e+12, 4.90243047e+12,
       4.90243047e+12, 4.90243047e+12, 4.90243047e+12, 4.90243047e+12,
       4.90243049e+12, 4.90243049e+12, 4.90243049e+12, 4.90243051e+12,
       4.90243051e+12, 4.90243051e+12, 4.90243052e+12, 4.90243052e+12,
       4.90243052e+12, 4.90243052e+12, 4.90243053e+12, 4.90243053e+12,
       4.90243054e+12, 4.90243054e+12, 4.90243056e+12, 4.90243056e+12,
       4.90243056e+12, 4.90243056e+12, 4.90243056e+12, 4.90243057e+12,
       4.90243057e+12, 4.90243057e+12, 4.90243057e+12, 4.90243057e+12,
       4.90243057e+12, 4.90243057e+12, 4.90243058e+12, 4.90243058e+12,
       4.90243058e+12, 4.90243058e+12, 4.90243058e+12, 4.90243059e+12,
       4.90243059e+12, 4.90243059e+12, 4.90243059e+12, 4.90243059e+12,
       4.90243059e+12, 4.90243060e+12, 4.90243060e+12, 4.90243060e+12,
       4.90243060e+12, 4.90243060e+12, 4.90243061e+12, 4.90243061e+12,
       4.90243061e+12, 4.90243062e+12, 4.90243062e+12, 4.90243062e+12,
       4.90243063e+12, 4.90243063e+12, 4.90243064e+12, 4.90243064e+12,
       4.90243064e+12, 4.90243064e+12, 4.90243065e+12, 4.90243065e+12,
       4.90243065e+12, 4.90243065e+12, 4.90243065e+12, 4.90243065e+12,
       4.90243065e+12, 4.90243065e+12, 4.90243065e+12, 4.90243065e+12,
       4.90243065e+12, 4.90243065e+12, 4.90243065e+12, 4.90243065e+12,
       4.90243065e+12, 4.90243066e+12, 4.90243066e+12, 4.90243066e+12,
       4.90243066e+12, 4.90243067e+12, 4.90243067e+12, 4.90243067e+12,
       4.90243067e+12, 4.90243068e+12, 4.90243068e+12, 4.90243068e+12,
       4.90243069e+12, 4.90243069e+12, 4.90243069e+12, 4.90243069e+12,
       4.90243069e+12, 4.90243069e+12, 4.90243069e+12, 4.90243069e+12,
       4.90243070e+12, 4.90243070e+12, 4.90243070e+12, 4.90243070e+12,
       4.90243070e+12, 4.90243070e+12, 4.90243070e+12, 4.90243070e+12,
       4.90243070e+12, 4.90243071e+12, 4.90243071e+12, 4.90243071e+12,
       4.90243071e+12, 4.90243071e+12, 4.90243072e+12, 4.90243072e+12,
       4.90243072e+12, 4.90243072e+12, 4.90243072e+12, 4.90243072e+12,
       4.90243073e+12, 4.90243073e+12, 4.90243073e+12, 4.90243073e+12,
       4.90243073e+12, 4.90243073e+12, 4.90243073e+12, 4.90243073e+12,
       4.90243073e+12, 4.90243073e+12, 4.90243073e+12, 4.90243073e+12,
       4.90243073e+12, 4.90243073e+12, 4.90243073e+12, 4.90243074e+12,
       4.90243074e+12, 4.90243074e+12, 4.90243074e+12, 4.90243074e+12,
       4.90243074e+12, 4.90243074e+12, 4.90243074e+12, 4.90243074e+12,
       4.90243074e+12, 4.90243074e+12, 4.90243074e+12, 4.90243074e+12,
       4.90243074e+12, 4.90243074e+12, 4.90243074e+12, 4.90243075e+12,
       4.90243075e+12, 4.90243075e+12, 4.90243075e+12, 4.90243075e+12,
       4.90243075e+12, 4.90243075e+12, 4.90243075e+12, 4.90243075e+12,
       4.90243075e+12, 4.90243075e+12, 4.90243075e+12, 4.90243075e+12,
       4.90243075e+12, 4.90243076e+12, 4.90243076e+12, 4.90243076e+12,
       4.90243076e+12, 4.90243076e+12, 4.90243076e+12, 4.90243076e+12,
       4.90243076e+12, 4.90243077e+12, 4.90243079e+12, 4.90243079e+12,
       4.90243079e+12, 4.90243079e+12, 4.90243079e+12, 4.90243079e+12,
       4.90243079e+12, 4.90243080e+12, 4.90243080e+12, 4.90243080e+12,
       4.90243080e+12, 4.90243080e+12, 4.90243080e+12, 4.90243080e+12,
       4.90243080e+12, 4.90243080e+12, 4.90243080e+12, 4.90243080e+12,
       4.90243080e+12, 4.90243080e+12, 4.90243080e+12, 4.90243080e+12,
       4.90243080e+12, 4.90243080e+12, 4.90243080e+12, 4.90243080e+12,
       4.90243080e+12, 4.90243080e+12, 4.90243080e+12, 4.90243080e+12,
       4.90243081e+12, 4.90243081e+12, 4.90243081e+12, 4.90243081e+12,
       4.90243081e+12, 4.90243081e+12, 4.90243081e+12, 4.90243081e+12,
       4.90243081e+12, 4.90243081e+12, 4.90243081e+12, 4.90243081e+12,
       4.90243081e+12, 4.90243082e+12, 4.90243082e+12, 4.90243082e+12,
       4.90243082e+12, 4.90243082e+12, 4.90243082e+12, 4.90243082e+12,
       4.90243082e+12, 4.90243082e+12, 4.90243082e+12, 4.90243082e+12,
       4.90243082e+12, 4.90243082e+12, 4.90243083e+12, 4.90243083e+12,
       4.90243083e+12, 4.90243083e+12, 4.90243083e+12, 4.90243083e+12,
       4.90243083e+12, 4.90243083e+12, 4.90243083e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243086e+12, 4.90243086e+12, 4.90243086e+12, 4.90243086e+12,
       4.90243086e+12, 4.90243086e+12, 4.90243086e+12, 4.90243086e+12,
       4.90243086e+12, 4.90243086e+12, 4.90243086e+12, 4.90243086e+12,
       4.90243086e+12, 4.90243086e+12, 4.90243086e+12, 4.90243086e+12,
       4.90243086e+12, 4.90243086e+12, 4.90243086e+12, 4.90243086e+12,
       4.90243086e+12, 4.90243087e+12, 4.90243087e+12, 4.90243087e+12,
       4.90243087e+12, 4.90243087e+12, 4.90243088e+12, 4.90243088e+12,
       4.90243088e+12, 4.90243088e+12, 4.90243088e+12, 4.90243088e+12,
       4.90243088e+12, 4.90243089e+12, 4.90243089e+12, 4.90243089e+12,
       4.90243089e+12, 4.90243089e+12, 4.90243089e+12, 4.90243089e+12,
       4.90243089e+12, 4.90243089e+12, 4.90243089e+12, 4.90243089e+12,
       4.90243090e+12, 4.90243090e+12, 4.90243090e+12, 4.90243092e+12,
       4.90243092e+12, 4.90243092e+12, 4.90243094e+12, 4.90243094e+12,
       4.90243094e+12, 4.90243094e+12, 4.90243099e+12, 4.90243099e+12,
       4.90243099e+12, 6.90314827e+12, 6.90314827e+12, 7.70201800e+12,
       7.70201800e+12, 7.70201801e+12, 7.70201804e+12, 7.70201804e+12,
       7.70201810e+12, 7.70201810e+12, 7.70201836e+12, 7.70201836e+12,
       7.70201836e+12, 7.70201886e+12, 7.70201886e+12, 7.70201888e+12,
       7.70201888e+12, 7.70201888e+12, 7.70201888e+12, 7.70201893e+12,
       7.70201894e+12, 7.70201894e+12, 7.70201897e+12, 7.70201897e+12,
       7.70201897e+12, 7.70201898e+12, 7.70201898e+12, 7.70201898e+12,
       7.70201898e+12, 8.80462611e+12, 8.80462612e+12, 8.80462612e+12,
       8.80462613e+12, 8.80462650e+12, 8.80462650e+12, 8.80462650e+12,
       8.80462652e+12, 8.80462652e+12, 8.80462652e+12, 8.80462652e+12,
       8.80462652e+12, 8.80462652e+12, 8.80462652e+12, 8.80462692e+12,
       8.88882602e+12, 8.88882602e+12, 8.88885500e+12, 9.30062750e+12,
       9.30064700e+12, 9.30064700e+12])

In [9]:
#바코드 개수 확인하기 (unique values!!!!!!!)
df.BARCODE.value_counts(sort=True, ascending=True)
#-------------------------------------------------603개의 제품!

4210201156888     1
4902430883177     1
4902430844925     1
4902430858397     1
4902430824255     1
                 ..
8804626515403    29
4902430887663    29
4902430761949    29
4902430566568    29
4902430699983    29
Name: BARCODE, Length: 561, dtype: int64

In [10]:
cols=list(df.columns.values)
cols

['CUSTOM_NAME',
 'Product_name(Customer)',
 'BARCODE',
 'DATE',
 '연간 주',
 'TOTAL IT',
 'TOTAL QTY',
 'TOTAL SU',
 '|SHIPMENT-MOVEOUT|',
 'SHIPMENT-MOVEOUT']

In [11]:
# 7월달의 shipment-moveout 의 평균을 구해보기
# df['|SHIPMENT-MOVEOUT|'].mean()
# sum, meaa, median, nunique, max, min
df['BARCODE'].max()

9300647000342.0

In [12]:
#7월달에서 필요없는 COLUMN을 없애기.
df2= df.drop(["TOTAL SU", "연간 주","TOTAL QTY","SHIPMENT-MOVEOUT", "TOTAL IT", "DATE" ], axis=1)

In [13]:
df2

      CUSTOM_NAME Product_name(Customer)       BARCODE  |SHIPMENT-MOVEOUT|
0          이마트 HM                    NaN           nan                   0
1          이마트 HM                    NaN           nan                   0
2          이마트 HM                    NaN           nan                   0
3          이마트 HM                    NaN           nan                   0
4          이마트 HM                    NaN           nan                   0
...           ...                    ...           ...                 ...
12352      이마트 HM          오랄비 왁스 치실 50m 9300647000342                 330
12353      이마트 HM          오랄비 왁스 치실 50m 9300647000342                   5
12354      이마트 HM          오랄비 왁스 치실 50m 9300647000342                 205
12355      이마트 HM          오랄비 왁스 치실 50m 9300647000342                1413
12356      이마트 HM          오랄비 왁스 치실 50m 9300647000342                 212

[12357 rows x 4 columns]

In [14]:
df2.groupby("BARCODE")

In [15]:

df2=df.groupby(["CUSTOM_NAME","BARCODE","Product_name(Customer)"], as_index=False).mean().round(0)
df2.rename(columns={'|SHIPMENT-MOVEOUT|':'7월 GAP'}, inplace=True)
df2= df2.drop(["TOTAL SU", "연간 주","TOTAL QTY", "TOTAL IT","SHIPMENT-MOVEOUT"], axis=1)

In [16]:
df2

    CUSTOM_NAME       BARCODE Product_name(Customer)  7월 GAP
0        이마트 HM   37000239574  소이 블렌드 향초 크랜베리와 서양배 향       0
1        이마트 HM   37000239628     소이 블렌드 향초 버드나무 꽃 향       0
2        이마트 HM   37000243151   방향 리드 디퓨져 그린티 시트러스 향       0
3        이마트 HM   37000243182  방향 리드 디퓨져 크랜베리와 서양배 향       0
4        이마트 HM   37000243205     방향 리드 디퓨져 버드나무 꽃 향       0
..          ...           ...                    ...     ...
556      이마트 HM 8888826020905     질레트일회용면도기블루투플러스1개입       2
557      이마트 HM 8888855001432     질레트일회용면도기블루투플러스2개입      50
558      이마트 HM 9300627503290     질레트일회용면도기블루투플러스5개입     240
559      이마트 HM 9300647000328             오랄-비 왁스 치실     709
560      이마트 HM 9300647000342          오랄비 왁스 치실 50m    2064

[561 rows x 4 columns]

In [263]:

#---------------------------------------------------------------------------------------------------------------
#df2 - 7월 데이터
#df3- 8월 데이터
#df4 - 9월 데이터
# df5- 10월 데이터
# df6 = 11월 데이터
# df7 = 12월 데이터
#---------------------------------------------------------------------------------------------------------------

In [18]:
#8월 데이터를 읽어온다.
#read an excel file & make it into a DATAFRAME!
df = pd.read_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\이마트 HM\Aug.xlsx")
df

,CUSTOM_NAME,Product_name(Customer),BARCODE,DATE,연간 주,TOTAL IT,TOTAL QTY,TOTAL SU,|SHIPMENT-MOVEOUT|,SHIPMENT-MOVEOUT
0,이마트 HM,NaN,nan,2019-08-01,31,nan,0,nan,0,0
1,이마트 HM,NaN,nan,2019-08-02,31,nan,0,nan,0,0
2,이마트 HM,NaN,nan,2019-08-05,32,nan,0,nan,0,0
3,이마트 HM,NaN,nan,2019-08-06,32,nan,0,nan,0,0
4,이마트 HM,NaN,nan,2019-08-07,32,nan,0,nan,0,0
...,...,...,...,...,...,...,...,...,...,...
13671,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-08-27,35,960,4,53,956,956
13672,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-08-28,35,984,3,55,981,981
13673,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-08-29,35,600,5,33,595,595
13674,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-08-30,35,120,5,7,115,115
13675,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-08-31,35,600,9,33,591,591

In [19]:
#--------------------------------------------------------8월 제품은 바코드가 600개------------------------------
df3=df.groupby(["CUSTOM_NAME","BARCODE","Product_name(Customer)"], as_index=False).mean().round(0)
df3.rename(columns={'|SHIPMENT-MOVEOUT|':'8월 GAP'}, inplace=True)
#8월달에서 필요없는 COLUMN을 없애기.
df3= df3.drop(["TOTAL SU", "연간 주","TOTAL QTY","SHIPMENT-MOVEOUT", "TOTAL IT"], axis=1)

In [20]:
df3
#   600개의 제품이 존재****   -->같은 제품끼리의 SHIPMENT-MOVEOUT 평균을 구함

    CUSTOM_NAME       BARCODE Product_name(Customer)  8월 GAP
0        이마트 HM   37000239574  소이 블렌드 향초 크랜베리와 서양배 향       0
1        이마트 HM   37000239628     소이 블렌드 향초 버드나무 꽃 향       0
2        이마트 HM   37000243151   방향 리드 디퓨져 그린티 시트러스 향       0
3        이마트 HM   37000243182  방향 리드 디퓨져 크랜베리와 서양배 향       0
4        이마트 HM   37000243205     방향 리드 디퓨져 버드나무 꽃 향       0
..          ...           ...                    ...     ...
553      이마트 HM 8888826020905     질레트일회용면도기블루투플러스1개입       2
554      이마트 HM 8888855001432     질레트일회용면도기블루투플러스2개입     152
555      이마트 HM 9300627503290     질레트일회용면도기블루투플러스5개입     432
556      이마트 HM 9300647000328             오랄-비 왁스 치실     848
557      이마트 HM 9300647000342          오랄비 왁스 치실 50m    2007

[558 rows x 4 columns]

In [21]:
#read an excel file & make it into a DATAFRAME!
df = pd.read_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\이마트 HM\Sep.xlsx")
df

,CUSTOM_NAME,Product_name(Customer),BARCODE,DATE,연간 주,TOTAL IT,TOTAL QTY,TOTAL SU,|SHIPMENT-MOVEOUT|,SHIPMENT-MOVEOUT
0,이마트 HM,NaN,nan,2019-09-02,36,nan,0,nan,0,0
1,이마트 HM,NaN,nan,2019-09-03,36,nan,0,nan,0,0
2,이마트 HM,NaN,nan,2019-09-04,36,nan,0,nan,0,0
3,이마트 HM,NaN,nan,2019-09-05,36,nan,0,nan,0,0
4,이마트 HM,NaN,nan,2019-09-06,36,nan,0,nan,0,0
...,...,...,...,...,...,...,...,...,...,...
12411,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-09-26,39,672,5,37,667,667
12412,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-09-27,39,216,3,12,213,213
12413,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-09-28,39,432,12,24,420,420
12414,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-09-29,40,nan,14,nan,14,-14
12415,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-09-30,40,4920,5,274,4915,4915

In [22]:
#7월달에서 필요없는 COLUMN을 없애기.
df4= df.drop(["TOTAL SU", "연간 주","TOTAL QTY","SHIPMENT-MOVEOUT", "TOTAL IT", "DATE" ], axis=1)
df4=df4.groupby(["CUSTOM_NAME","BARCODE","Product_name(Customer)"], as_index=False).mean().round(0)

In [23]:
#9월달에 shipment, moveout 한 제품은 613개! 같은 것끼리 평균을 구했다.
df4.rename(columns={'|SHIPMENT-MOVEOUT|':'9월 GAP'}, inplace=True)

In [24]:
df4

    CUSTOM_NAME       BARCODE Product_name(Customer)  9월 GAP
0        이마트 HM   37000239574  소이 블렌드 향초 크랜베리와 서양배 향       0
1        이마트 HM   37000239628     소이 블렌드 향초 버드나무 꽃 향       0
2        이마트 HM   37000243151   방향 리드 디퓨져 그린티 시트러스 향       0
3        이마트 HM   37000243182  방향 리드 디퓨져 크랜베리와 서양배 향       0
4        이마트 HM   37000243205     방향 리드 디퓨져 버드나무 꽃 향       0
..          ...           ...                    ...     ...
567      이마트 HM 8888826020905     질레트일회용면도기블루투플러스1개입       3
568      이마트 HM 8888855001432     질레트일회용면도기블루투플러스2개입      84
569      이마트 HM 9300627503290     질레트일회용면도기블루투플러스5개입     288
570      이마트 HM 9300647000328             오랄-비 왁스 치실    1097
571      이마트 HM 9300647000342          오랄비 왁스 치실 50m    2328

[572 rows x 4 columns]

In [ ]:
#10월 데이터를 위한 테이블 생성하기

In [25]:
#read an excel file & make it into a DATAFRAME!
df = pd.read_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\이마트 HM\Oct.xlsx")
df

,CUSTOM_NAME,Product_name(Customer),BARCODE,DATE,연간 주,TOTAL IT,TOTAL QTY,TOTAL SU,|SHIPMENT-MOVEOUT|,SHIPMENT-MOVEOUT
0,이마트 HM,NaN,nan,2019-10-01,40,nan,0,nan,0,0
1,이마트 HM,NaN,nan,2019-10-02,40,nan,0,nan,0,0
2,이마트 HM,NaN,nan,2019-10-04,40,nan,0,nan,0,0
3,이마트 HM,NaN,nan,2019-10-07,41,nan,0,nan,0,0
4,이마트 HM,NaN,nan,2019-10-08,41,nan,0,nan,0,0
...,...,...,...,...,...,...,...,...,...,...
13421,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-10-27,44,nan,5,nan,5,-5
13422,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-10-28,44,nan,6,nan,6,-6
13423,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-10-29,44,9864,5,548,9859,9859
13424,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-10-30,44,9672,5,538,9667,9667
13425,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-10-31,44,8376,2,466,8374,8374

In [27]:
#--------------------------------------------------------8월 제품은 바코드가 600개------------------------------
df5=df.groupby(["CUSTOM_NAME","BARCODE","Product_name(Customer)"], as_index=False).mean().round(0)
df5.rename(columns={'|SHIPMENT-MOVEOUT|':'10월 GAP'}, inplace=True)
#8월달에서 필요없는 COLUMN을 없애기.
df5= df5.drop(["TOTAL SU", "연간 주","TOTAL QTY","SHIPMENT-MOVEOUT", "TOTAL IT"], axis=1)

In [28]:
df5

    CUSTOM_NAME       BARCODE Product_name(Customer)  10월 GAP
0        이마트 HM   37000239574  소이 블렌드 향초 크랜베리와 서양배 향        0
1        이마트 HM   37000239628     소이 블렌드 향초 버드나무 꽃 향        0
2        이마트 HM   37000243151   방향 리드 디퓨져 그린티 시트러스 향        0
3        이마트 HM   37000243182  방향 리드 디퓨져 크랜베리와 서양배 향        0
4        이마트 HM   37000243205     방향 리드 디퓨져 버드나무 꽃 향        0
..          ...           ...                    ...      ...
583      이마트 HM 8888826020905     질레트일회용면도기블루투플러스1개입        2
584      이마트 HM 8888855001432     질레트일회용면도기블루투플러스2개입       94
585      이마트 HM 9300627503290     질레트일회용면도기블루투플러스5개입      288
586      이마트 HM 9300647000328             오랄-비 왁스 치실     1223
587      이마트 HM 9300647000342          오랄비 왁스 치실 50m     2895

[588 rows x 4 columns]

In [ ]:
#11월 데이터 프레임 만들기

In [31]:
#read an excel file & make it into a DATAFRAME!
df = pd.read_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\이마트 HM\Nov.xlsx")
df

,CUSTOM_NAME,Product_name(Customer),BARCODE,DATE,연간 주,TOTAL IT,TOTAL QTY,TOTAL SU,|SHIPMENT-MOVEOUT|,SHIPMENT-MOVEOUT
0,이마트 HM,NaN,nan,2019-11-01,44,nan,0,nan,0,0
1,이마트 HM,NaN,nan,2019-11-04,45,nan,0,nan,0,0
2,이마트 HM,NaN,nan,2019-11-05,45,nan,0,nan,0,0
3,이마트 HM,NaN,nan,2019-11-06,45,nan,0,nan,0,0
4,이마트 HM,NaN,nan,2019-11-07,45,nan,0,nan,0,0
...,...,...,...,...,...,...,...,...,...,...
13169,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-11-26,48,744,2,41,742,742
13170,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-11-27,48,4944,3,275,4941,4941
13171,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-11-28,48,602,4,36,598,598
13172,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-11-29,48,10128,3,563,10125,10125
13173,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-11-30,48,10824,7,602,10817,10817

In [32]:
#--------------------------------------------------------8월 제품은 바코드가 600개------------------------------
df6=df.groupby(["CUSTOM_NAME","BARCODE","Product_name(Customer)"], as_index=False).mean().round(0)
df6.rename(columns={'|SHIPMENT-MOVEOUT|':'11월 GAP'}, inplace=True)
df6= df6.drop(["TOTAL SU", "연간 주","TOTAL QTY", "TOTAL IT","SHIPMENT-MOVEOUT"], axis=1)

In [33]:
df6

    CUSTOM_NAME       BARCODE Product_name(Customer)  11월 GAP
0        이마트 HM   37000239574  소이 블렌드 향초 크랜베리와 서양배 향        0
1        이마트 HM   37000239628     소이 블렌드 향초 버드나무 꽃 향        0
2        이마트 HM   37000243151   방향 리드 디퓨져 그린티 시트러스 향        0
3        이마트 HM   37000243182  방향 리드 디퓨져 크랜베리와 서양배 향        0
4        이마트 HM   37000243205     방향 리드 디퓨져 버드나무 꽃 향        0
..          ...           ...                    ...      ...
592      이마트 HM 8888826020905     질레트일회용면도기블루투플러스1개입        1
593      이마트 HM 8888855001432     질레트일회용면도기블루투플러스2개입      278
594      이마트 HM 9300627503290     질레트일회용면도기블루투플러스5개입      192
595      이마트 HM 9300647000328             오랄-비 왁스 치실      778
596      이마트 HM 9300647000342          오랄비 왁스 치실 50m     1787

[597 rows x 4 columns]

In [34]:
#12월 데이터프레임 만들기*****

#read an excel file & make it into a DATAFRAME!
df = pd.read_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\이마트 HM\Dec.xlsx")
df

,CUSTOM_NAME,Product_name(Customer),BARCODE,DATE,연간 주,TOTAL IT,TOTAL QTY,TOTAL SU,|SHIPMENT-MOVEOUT|,SHIPMENT-MOVEOUT
0,이마트 HM,NaN,nan,2019-12-02,49,nan,0,nan,0,0
1,이마트 HM,NaN,nan,2019-12-03,49,nan,0,nan,0,0
2,이마트 HM,NaN,nan,2019-12-06,49,nan,0,nan,0,0
3,이마트 HM,NaN,nan,2019-12-09,50,nan,0,nan,0,0
4,이마트 HM,NaN,nan,2019-12-11,50,nan,0,nan,0,0
...,...,...,...,...,...,...,...,...,...,...
13398,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-12-27,52,432,2,24,430,430
13399,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-12-28,52,672,6,37,666,666
13400,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-12-29,53,nan,7,nan,7,-7
13401,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-12-30,53,nan,4,nan,4,-4
13402,이마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-12-31,53,10104,3,562,10101,10101

In [35]:
#--------------------------------------------------------8월 제품은 바코드가 600개------------------------------
df7=df.groupby(["CUSTOM_NAME","BARCODE","Product_name(Customer)"], as_index=False).mean().round(0)
df7.rename(columns={'|SHIPMENT-MOVEOUT|':'12월 GAP'}, inplace=True)
df7= df7.drop(["TOTAL SU", "연간 주","TOTAL QTY", "TOTAL IT","SHIPMENT-MOVEOUT"], axis=1)

In [36]:
df7

    CUSTOM_NAME       BARCODE Product_name(Customer)  12월 GAP
0        이마트 HM   37000239574  소이 블렌드 향초 크랜베리와 서양배 향        0
1        이마트 HM   37000239628     소이 블렌드 향초 버드나무 꽃 향        0
2        이마트 HM   37000243151   방향 리드 디퓨져 그린티 시트러스 향        0
3        이마트 HM   37000243182  방향 리드 디퓨져 크랜베리와 서양배 향        0
4        이마트 HM   37000243205     방향 리드 디퓨져 버드나무 꽃 향        0
..          ...           ...                    ...      ...
589      이마트 HM 8888826020905     질레트일회용면도기블루투플러스1개입        1
590      이마트 HM 8888855001432     질레트일회용면도기블루투플러스2개입      162
591      이마트 HM 9300627503290     질레트일회용면도기블루투플러스5개입      192
592      이마트 HM 9300647000328             오랄-비 왁스 치실      467
593      이마트 HM 9300647000342          오랄비 왁스 치실 50m     1540

[594 rows x 4 columns]

In [ ]:
# 7월~ 12월 데이터프레임을 BARCODE기준으로 JOIN시키기 
#----------> OMNI_GS 데이터프레임에 하나로 저장!!!!

#df2 - 7월 데이터
#df3- 8월 데이터
#df4 - 9월 데이터
# df5- 10월 데이터
# df6 = 11월 데이터
# df7 = 12월 데이터

In [37]:
#merge사용
df_merge_1= pd.merge(df2, df3, how='outer', on=['BARCODE','CUSTOM_NAME','Product_name(Customer)'])

In [38]:
df_merge_2 = pd.merge(df_merge_1, df4, how='outer', on=['BARCODE','CUSTOM_NAME','Product_name(Customer)'])

In [39]:
df_merge_3 = pd.merge(df_merge_2, df5, how='outer', on=['BARCODE','CUSTOM_NAME','Product_name(Customer)'])

In [40]:
df_merge_4 = pd.merge(df_merge_3, df6, how='outer', on=['BARCODE','CUSTOM_NAME','Product_name(Customer)'])

In [43]:
OMNI_EMART_HM = pd.merge(df_merge_4, df7, how='outer',on=['BARCODE','CUSTOM_NAME','Product_name(Customer)'])

In [44]:
#613개의 제품에 대한 "거래"가 있었고, 그것에 대한 데이터프레임
OMNI_EMART_HM

,CUSTOM_NAME,BARCODE,Product_name(Customer),7월 GAP,8월 GAP,9월 GAP,10월 GAP,11월 GAP,12월 GAP
0,이마트 HM,37000239574,소이 블렌드 향초 크랜베리와 서양배 향,0,0,0,0,0,0
1,이마트 HM,37000239628,소이 블렌드 향초 버드나무 꽃 향,0,0,0,0,0,0
2,이마트 HM,37000243151,방향 리드 디퓨져 그린티 시트러스 향,0,0,0,0,0,0
3,이마트 HM,37000243182,방향 리드 디퓨져 크랜베리와 서양배 향,0,0,0,0,0,0
4,이마트 HM,37000243205,방향 리드 디퓨져 버드나무 꽃 향,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
667,이마트 HM,4902430258777,오랄비 치간 칫솔 60개입 (20PX3) 코스트코 팩,nan,nan,nan,nan,nan,1760
668,이마트 HM,4902430512053,[다우니] 세제 2L + 섬유유연제 2L (블루),nan,nan,nan,nan,nan,61
669,이마트 HM,4902430523813,페브리즈 내추리스 레몬그라스370ML+민트370ML 기획 팩,nan,nan,nan,nan,nan,167
670,이마트 HM,4902430780087,질레트 프로쉴드 PYC 스페셜 팩,nan,nan,nan,nan,nan,0
671,이마트 HM,4902430909303,질레트 센서 3 면도기 1입 (CVS),nan,nan,nan,nan,nan,26297

In [45]:
# P3M, P6M --->에 대한 GAP을 구하기.
#먼저 NaN을 0으로 처리하기
OMNI_EMART_HM =OMNI_EMART_HM  .fillna(0)

#make new column (P3M gap)
OMNI_EMART_HM  ['P3M GAP']= OMNI_EMART_HM .apply(lambda row: (row[6] + row[7] + row[8])/3 ,axis=1)

#make new column (P6M gap)
OMNI_EMART_HM ['P6M GAP']=OMNI_EMART_HM .apply(lambda row: (row[3] + row[4] + row[5]+row[6] + row[7] + row[8])/6,axis=1)

In [46]:
OMNI_EMART_HM .style.apply(lambda x: ['background: lightblue' if x.name == "P6M GAP" else '' for i in x])
OMNI_EMART_HM

,CUSTOM_NAME,BARCODE,Product_name(Customer),7월 GAP,8월 GAP,9월 GAP,10월 GAP,11월 GAP,12월 GAP,P3M GAP,P6M GAP
0,이마트 HM,37000239574,소이 블렌드 향초 크랜베리와 서양배 향,0,0,0,0,0,0,0,0
1,이마트 HM,37000239628,소이 블렌드 향초 버드나무 꽃 향,0,0,0,0,0,0,0,0
2,이마트 HM,37000243151,방향 리드 디퓨져 그린티 시트러스 향,0,0,0,0,0,0,0,0
3,이마트 HM,37000243182,방향 리드 디퓨져 크랜베리와 서양배 향,0,0,0,0,0,0,0,0
4,이마트 HM,37000243205,방향 리드 디퓨져 버드나무 꽃 향,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
667,이마트 HM,4902430258777,오랄비 치간 칫솔 60개입 (20PX3) 코스트코 팩,0,0,0,0,0,1760,587,293
668,이마트 HM,4902430512053,[다우니] 세제 2L + 섬유유연제 2L (블루),0,0,0,0,0,61,20,10
669,이마트 HM,4902430523813,페브리즈 내추리스 레몬그라스370ML+민트370ML 기획 팩,0,0,0,0,0,167,56,28
670,이마트 HM,4902430780087,질레트 프로쉴드 PYC 스페셜 팩,0,0,0,0,0,0,0,0
671,이마트 HM,4902430909303,질레트 센서 3 면도기 1입 (CVS),0,0,0,0,0,26297,8766,4383

In [47]:
OMNI_EMART_HM.to_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\이마트 HM\EMART_HM_output.xlsx")

In [449]:
###########################################################################################################################

In [455]:
# ABNORMAL GAP에 대해서 분석해본 것을 테이블로 정리하였다.
#이제는... daily DATA를 받아서 ABNORMAL 값으로 판단되면 HIGHTLIGHT ----> ALERT 보내도록 구현

# R 연동하기
# anaconda로 conda install -c r r-essentials

NameError: name 'install' is not defined