In [1]:
import tensorflow as tf

In [11]:
import sys
import pandas as pd
pd.options.display.float_format = '{:.0f}'.format
import numpy  as np
import glob
import tensorflow as tf
import openpyxl

In [ ]:
#---------------------------------------------------------------------------------------------------------------
#df2 - 7월 데이터
#df3- 8월 데이터
#df4 - 9월 데이터
# df5- 10월 데이터
# df6 = 11월 데이터
# df7 = 12월 데이터
#---------------------------------------------------------------------------------------------------------------

In [3]:
#read an excel file & make it into a DATAFRAME!
#7월 SHIPMENT-MOVEOUT (바코드별로)
df = pd.read_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\롯데마트 HM\July.xlsx")

In [4]:
df
# 이것은 GS SUPER 의 7월달 데이터프레임!!!!!!!!!!!!!!!!!!!!

,CUSTOM_NAME,Product_name(Customer),BARCODE,DATE,연간 주,TOTAL IT,TOTAL QTY,TOTAL SU,|SHIPMENT-MOVEOUT|,SHIPMENT-MOVEOUT
0,롯데마트 HM,NaN,nan,2019-07-10,28,nan,2,nan,2,-2
1,롯데마트 HM,NaN,nan,2019-07-11,28,nan,-2,nan,2,2
2,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-07-03,27,72,0,3,72,72
3,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-07-04,27,nan,0,nan,0,0
4,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-07-05,27,48,0,2,48,48
...,...,...,...,...,...,...,...,...,...,...
11288,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-07-27,30,336,154,19,182,182
11289,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-07-28,31,nan,35,nan,35,-35
11290,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-07-29,31,216,128,12,88,88
11291,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-07-30,31,1416,118,79,1298,1298
11292,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-07-31,31,216,135,12,81,81

In [5]:
#CHECK DATA TYPE
df.dtypes

#check index!
#df.index

CUSTOM_NAME                       object
Product_name(Customer)            object
BARCODE                          float64
DATE                      datetime64[ns]
연간 주                               int64
TOTAL IT                         float64
TOTAL QTY                        float64
TOTAL SU                         float64
|SHIPMENT-MOVEOUT|                 int64
SHIPMENT-MOVEOUT                   int64
dtype: object

In [6]:
#제품명 개수 확인하기.
df['Product_name(Customer)'].value_counts()
#-----------------------------------------------------------602개의 UNIQUE 한 제품

퓨전 파워 면도기 1UP                      47
페브리즈 섬유탈취제 상큼한 과일 향 370ml          29
다우니 퍼퓸 컬렉션 윈터데이트 1L                29
팬틴 미셀라 퓨어&클렌즈 샴푸 500ml             29
퓨전 프로쉴드 칠 면도날 4입                   29
                                   ..
팬틴 토탈 모이스쳐 케어 샴푸 1.2L               1
오랄비 스테이지스4 프로즌스타워즈 2pX4입 (코스트코)     1
오랄비 스테이지스 3단계 어벤져스                  1
다우니 코튼 퓨어러브 향 2L                    1
팬틴 모이스쳐 케어 컨디셔너 1200ml              1
Name: Product_name(Customer), Length: 553, dtype: int64

In [12]:
#바코드 개수 확인하기 (unique values!!!!!!!)
df.BARCODE.unique()

array([           nan, 3.70003214e+10, 4.74001792e+10, 4.74001793e+10,
       4.74002414e+10, 5.61000071e+10, 3.00416691e+11, 3.01426001e+12,
       3.01426010e+12, 3.01426021e+12, 3.01426022e+12, 3.01426022e+12,
       3.01426026e+12, 3.01426027e+12, 3.01426027e+12, 3.01426027e+12,
       3.01426028e+12, 3.01426028e+12, 3.01426028e+12, 3.01426030e+12,
       3.01426078e+12, 3.01426078e+12, 3.01426081e+12, 3.01426081e+12,
       3.01426081e+12, 3.01426084e+12, 3.01426085e+12, 3.01426085e+12,
       3.01426085e+12, 3.01426086e+12, 4.10333003e+12, 4.21020103e+12,
       4.21020103e+12, 4.21020106e+12, 4.21020111e+12, 4.21020112e+12,
       4.21020112e+12, 4.21020115e+12, 4.21020116e+12, 4.21020116e+12,
       4.21020116e+12, 4.21020116e+12, 4.21020116e+12, 4.21020116e+12,
       4.21020116e+12, 4.21020116e+12, 4.21020117e+12, 4.21020118e+12,
       4.21020118e+12, 4.21020118e+12, 4.21020118e+12, 4.21020119e+12,
       4.21020119e+12, 4.21020134e+12, 4.21020175e+12, 4.21020175e+12,
       4.21020175e+12, 4.21020175e+12, 4.21020181e+12, 4.21020181e+12,
       4.21020182e+12, 4.21020182e+12, 4.21020184e+12, 4.90243001e+12,
       4.90243001e+12, 4.90243011e+12, 4.90243011e+12, 4.90243016e+12,
       4.90243016e+12, 4.90243016e+12, 4.90243017e+12, 4.90243019e+12,
       4.90243023e+12, 4.90243024e+12, 4.90243024e+12, 4.90243024e+12,
       4.90243024e+12, 4.90243024e+12, 4.90243024e+12, 4.90243025e+12,
       4.90243025e+12, 4.90243025e+12, 4.90243026e+12, 4.90243027e+12,
       4.90243027e+12, 4.90243028e+12, 4.90243029e+12, 4.90243029e+12,
       4.90243029e+12, 4.90243030e+12, 4.90243030e+12, 4.90243030e+12,
       4.90243030e+12, 4.90243031e+12, 4.90243031e+12, 4.90243031e+12,
       4.90243031e+12, 4.90243031e+12, 4.90243031e+12, 4.90243031e+12,
       4.90243031e+12, 4.90243031e+12, 4.90243031e+12, 4.90243031e+12,
       4.90243032e+12, 4.90243032e+12, 4.90243033e+12, 4.90243033e+12,
       4.90243034e+12, 4.90243034e+12, 4.90243035e+12, 4.90243035e+12,
       4.90243036e+12, 4.90243036e+12, 4.90243036e+12, 4.90243036e+12,
       4.90243037e+12, 4.90243037e+12, 4.90243037e+12, 4.90243037e+12,
       4.90243037e+12, 4.90243038e+12, 4.90243038e+12, 4.90243038e+12,
       4.90243038e+12, 4.90243038e+12, 4.90243038e+12, 4.90243038e+12,
       4.90243038e+12, 4.90243038e+12, 4.90243038e+12, 4.90243040e+12,
       4.90243042e+12, 4.90243042e+12, 4.90243042e+12, 4.90243042e+12,
       4.90243042e+12, 4.90243042e+12, 4.90243044e+12, 4.90243044e+12,
       4.90243044e+12, 4.90243045e+12, 4.90243045e+12, 4.90243045e+12,
       4.90243046e+12, 4.90243046e+12, 4.90243046e+12, 4.90243046e+12,
       4.90243047e+12, 4.90243047e+12, 4.90243047e+12, 4.90243047e+12,
       4.90243047e+12, 4.90243047e+12, 4.90243047e+12, 4.90243047e+12,
       4.90243049e+12, 4.90243049e+12, 4.90243049e+12, 4.90243051e+12,
       4.90243051e+12, 4.90243051e+12, 4.90243052e+12, 4.90243052e+12,
       4.90243053e+12, 4.90243053e+12, 4.90243054e+12, 4.90243054e+12,
       4.90243056e+12, 4.90243056e+12, 4.90243056e+12, 4.90243057e+12,
       4.90243057e+12, 4.90243057e+12, 4.90243057e+12, 4.90243057e+12,
       4.90243057e+12, 4.90243057e+12, 4.90243058e+12, 4.90243058e+12,
       4.90243058e+12, 4.90243058e+12, 4.90243059e+12, 4.90243059e+12,
       4.90243059e+12, 4.90243059e+12, 4.90243060e+12, 4.90243060e+12,
       4.90243060e+12, 4.90243060e+12, 4.90243060e+12, 4.90243061e+12,
       4.90243061e+12, 4.90243061e+12, 4.90243062e+12, 4.90243062e+12,
       4.90243062e+12, 4.90243062e+12, 4.90243062e+12, 4.90243062e+12,
       4.90243063e+12, 4.90243063e+12, 4.90243064e+12, 4.90243064e+12,
       4.90243064e+12, 4.90243064e+12, 4.90243064e+12, 4.90243064e+12,
       4.90243065e+12, 4.90243065e+12, 4.90243065e+12, 4.90243065e+12,
       4.90243065e+12, 4.90243065e+12, 4.90243065e+12, 4.90243065e+12,
       4.90243065e+12, 4.90243065e+12, 4.90243065e+12, 4.90243065e+12,
       4.90243065e+12, 4.90243065e+12, 4.90243065e+12, 4.90243065e+12,
       4.90243065e+12, 4.90243065e+12, 4.90243066e+12, 4.90243066e+12,
       4.90243066e+12, 4.90243066e+12, 4.90243066e+12, 4.90243066e+12,
       4.90243066e+12, 4.90243066e+12, 4.90243066e+12, 4.90243067e+12,
       4.90243067e+12, 4.90243067e+12, 4.90243067e+12, 4.90243067e+12,
       4.90243068e+12, 4.90243068e+12, 4.90243068e+12, 4.90243068e+12,
       4.90243069e+12, 4.90243069e+12, 4.90243069e+12, 4.90243069e+12,
       4.90243069e+12, 4.90243069e+12, 4.90243069e+12, 4.90243069e+12,
       4.90243069e+12, 4.90243069e+12, 4.90243070e+12, 4.90243070e+12,
       4.90243070e+12, 4.90243070e+12, 4.90243070e+12, 4.90243070e+12,
       4.90243070e+12, 4.90243070e+12, 4.90243071e+12, 4.90243071e+12,
       4.90243071e+12, 4.90243071e+12, 4.90243071e+12, 4.90243071e+12,
       4.90243071e+12, 4.90243072e+12, 4.90243072e+12, 4.90243072e+12,
       4.90243072e+12, 4.90243072e+12, 4.90243072e+12, 4.90243073e+12,
       4.90243073e+12, 4.90243073e+12, 4.90243073e+12, 4.90243073e+12,
       4.90243073e+12, 4.90243073e+12, 4.90243073e+12, 4.90243073e+12,
       4.90243073e+12, 4.90243073e+12, 4.90243073e+12, 4.90243073e+12,
       4.90243073e+12, 4.90243073e+12, 4.90243073e+12, 4.90243074e+12,
       4.90243074e+12, 4.90243074e+12, 4.90243074e+12, 4.90243074e+12,
       4.90243074e+12, 4.90243074e+12, 4.90243074e+12, 4.90243074e+12,
       4.90243074e+12, 4.90243074e+12, 4.90243074e+12, 4.90243074e+12,
       4.90243074e+12, 4.90243074e+12, 4.90243074e+12, 4.90243074e+12,
       4.90243075e+12, 4.90243075e+12, 4.90243075e+12, 4.90243075e+12,
       4.90243075e+12, 4.90243075e+12, 4.90243075e+12, 4.90243075e+12,
       4.90243075e+12, 4.90243075e+12, 4.90243075e+12, 4.90243075e+12,
       4.90243075e+12, 4.90243076e+12, 4.90243076e+12, 4.90243076e+12,
       4.90243076e+12, 4.90243076e+12, 4.90243076e+12, 4.90243076e+12,
       4.90243076e+12, 4.90243077e+12, 4.90243078e+12, 4.90243079e+12,
       4.90243079e+12, 4.90243079e+12, 4.90243079e+12, 4.90243079e+12,
       4.90243079e+12, 4.90243080e+12, 4.90243080e+12, 4.90243080e+12,
       4.90243080e+12, 4.90243080e+12, 4.90243080e+12, 4.90243080e+12,
       4.90243080e+12, 4.90243080e+12, 4.90243080e+12, 4.90243080e+12,
       4.90243080e+12, 4.90243080e+12, 4.90243080e+12, 4.90243080e+12,
       4.90243080e+12, 4.90243080e+12, 4.90243080e+12, 4.90243080e+12,
       4.90243080e+12, 4.90243080e+12, 4.90243080e+12, 4.90243080e+12,
       4.90243081e+12, 4.90243081e+12, 4.90243081e+12, 4.90243081e+12,
       4.90243081e+12, 4.90243081e+12, 4.90243081e+12, 4.90243081e+12,
       4.90243081e+12, 4.90243081e+12, 4.90243081e+12, 4.90243081e+12,
       4.90243081e+12, 4.90243082e+12, 4.90243082e+12, 4.90243082e+12,
       4.90243082e+12, 4.90243082e+12, 4.90243082e+12, 4.90243082e+12,
       4.90243082e+12, 4.90243082e+12, 4.90243082e+12, 4.90243082e+12,
       4.90243082e+12, 4.90243082e+12, 4.90243083e+12, 4.90243083e+12,
       4.90243083e+12, 4.90243083e+12, 4.90243083e+12, 4.90243083e+12,
       4.90243083e+12, 4.90243083e+12, 4.90243083e+12, 4.90243083e+12,
       4.90243083e+12, 4.90243083e+12, 4.90243083e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243084e+12, 4.90243084e+12, 4.90243084e+12, 4.90243084e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243085e+12, 4.90243085e+12,
       4.90243085e+12, 4.90243085e+12, 4.90243086e+12, 4.90243086e+12,
       4.90243086e+12, 4.90243086e+12, 4.90243086e+12, 4.90243086e+12,
       4.90243086e+12, 4.90243086e+12, 4.90243086e+12, 4.90243086e+12,
       4.90243086e+12, 4.90243086e+12, 4.90243086e+12, 4.90243086e+12,
       4.90243086e+12, 4.90243086e+12, 4.90243087e+12, 4.90243087e+12,
       4.90243087e+12, 4.90243087e+12, 4.90243087e+12, 4.90243087e+12,
       4.90243088e+12, 4.90243088e+12, 4.90243088e+12, 4.90243088e+12,
       4.90243088e+12, 4.90243088e+12, 4.90243088e+12, 4.90243088e+12,
       4.90243089e+12, 4.90243089e+12, 4.90243089e+12, 4.90243089e+12,
       4.90243089e+12, 4.90243089e+12, 4.90243089e+12, 4.90243089e+12,
       4.90243089e+12, 4.90243089e+12, 4.90243089e+12, 4.90243090e+12,
       4.90243090e+12, 4.90243090e+12, 4.90243092e+12, 4.90243092e+12,
       4.90243092e+12, 4.90243094e+12, 4.90243094e+12, 4.90243094e+12,
       4.90243099e+12, 4.90243099e+12, 6.90314827e+12, 6.90314827e+12,
       7.70201800e+12, 7.70201800e+12, 7.70201801e+12, 7.70201804e+12,
       7.70201804e+12, 7.70201810e+12, 7.70201836e+12, 7.70201836e+12,
       7.70201836e+12, 7.70201836e+12, 7.70201886e+12, 7.70201886e+12,
       7.70201888e+12, 7.70201888e+12, 7.70201888e+12, 7.70201888e+12,
       7.70201893e+12, 7.70201894e+12, 7.70201894e+12, 7.70201897e+12,
       7.70201897e+12, 7.70201898e+12, 7.70201898e+12, 7.70201898e+12,
       7.70201898e+12, 8.80462611e+12, 8.80462611e+12, 8.80462612e+12,
       8.80462612e+12, 8.80462613e+12, 8.80462650e+12, 8.80462650e+12,
       8.80462650e+12, 8.80462652e+12, 8.80462652e+12, 8.80462652e+12,
       8.80462652e+12, 8.80462652e+12, 8.80462652e+12, 8.80462652e+12,
       8.80462692e+12, 8.88882602e+12, 8.88882602e+12, 8.88885500e+12,
       9.30062750e+12, 9.30064700e+12, 9.30064700e+12])

In [8]:
#바코드 개수 확인하기 (unique values!!!!!!!)
df.BARCODE.value_counts(sort=True, ascending=True)
#-------------------------------------------------603개의 제품!

4210201166993     1
4902430750035     1
4902430844925     1
4902430519625     1
4902430586894     1
                 ..
4902430290203    29
4902430858335    29
4902430643191    29
4902430295925    29
4210201746188    29
Name: BARCODE, Length: 554, dtype: int64

In [9]:
cols=list(df.columns.values)
cols

['CUSTOM_NAME',
 'Product_name(Customer)',
 'BARCODE',
 'DATE',
 '연간 주',
 'TOTAL IT',
 'TOTAL QTY',
 'TOTAL SU',
 '|SHIPMENT-MOVEOUT|',
 'SHIPMENT-MOVEOUT']

In [10]:
# 7월달의 shipment-moveout 의 평균을 구해보기
# df['|SHIPMENT-MOVEOUT|'].mean()
# sum, meaa, median, nunique, max, min
df['BARCODE'].max()

9300647000342.0

In [13]:
#7월달에서 필요없는 COLUMN을 없애기.
df2= df.drop(["TOTAL SU", "연간 주","TOTAL QTY","SHIPMENT-MOVEOUT", "TOTAL IT", "DATE" ], axis=1)

In [14]:
df2

,CUSTOM_NAME,Product_name(Customer),BARCODE,|SHIPMENT-MOVEOUT|
0,롯데마트 HM,NaN,nan,2
1,롯데마트 HM,NaN,nan,2
2,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,72
3,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,0
4,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,48
...,...,...,...,...
11288,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,182
11289,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,35
11290,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,88
11291,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,1298
11292,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,81

In [15]:
df2.groupby("BARCODE")

In [16]:

df2=df.groupby(["CUSTOM_NAME","BARCODE","Product_name(Customer)"], as_index=False).mean().round(0)
df2.rename(columns={'|SHIPMENT-MOVEOUT|':'7월 GAP'}, inplace=True)
df2= df2.drop(["TOTAL SU", "연간 주","TOTAL QTY", "TOTAL IT","SHIPMENT-MOVEOUT"], axis=1)

In [17]:
df2

    CUSTOM_NAME       BARCODE        Product_name(Customer)  7월 GAP
0       롯데마트 HM   37000321361  IVORY BAR ORIG 24/3-3.1Z 90G     154
1       롯데마트 HM   47400179172                    마하3 면도날 8입      31
2       롯데마트 HM   47400179349                    마하3 면도날 4입     237
3       롯데마트 HM   47400241442             질레트 센서티브 포오미 175G     743
4       롯데마트 HM   56100007067  IVORY BAR ORIG 12/10-3.1Z90G     306
..          ...           ...                           ...     ...
549     롯데마트 HM 8888826020905            질레트일회용면도기블루투플러스1개입      18
550     롯데마트 HM 8888855001432            질레트일회용면도기블루투플러스2개입     104
551     롯데마트 HM 9300627503290            질레트일회용면도기블루투플러스5개입     240
552     롯데마트 HM 9300647000328                    오랄-비 왁스 치실     781
553     롯데마트 HM 9300647000342                 오랄비 왁스 치실 50m    1984

[554 rows x 4 columns]

In [229]:
#원하는 데이터프레임 생성!!! (최종 데이터프레임)
#GS DATAFRAME

from pandas import Series, DataFrame

OMNI_GS=DataFrame(columns=("CUSTOM_NAME","BARCODE", "Product_name(Customer)","7월 GAP ",
                          "8월 GAP","9월 GAP ","10월 GAP",
                          "11월 GAP","12월 GAP",))

# BARCODE 컬럼은 PRIMARY KEY라고 생각하면 됨.  
# 하나의 바코드 당, 1개월 존재했던 shipment-moveout의 평균을 구한 값을 GAP에서 볼 수 있음.

In [230]:
#최종 GS SUPER 데이터프레임***
OMNI_GS

Empty DataFrame
Columns: [CUSTOM_NAME, BARCODE, Product_name(Customer), 7월 GAP , 8월 GAP, 9월 GAP , 10월 GAP, 11월 GAP, 12월 GAP]
Index: []

In [263]:

#---------------------------------------------------------------------------------------------------------------
#df2 - 7월 데이터
#df3- 8월 데이터
#df4 - 9월 데이터
# df5- 10월 데이터
# df6 = 11월 데이터
# df7 = 12월 데이터
#---------------------------------------------------------------------------------------------------------------

In [18]:
#8월 데이터를 읽어온다.
#read an excel file & make it into a DATAFRAME!
df = pd.read_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\롯데마트 HM\Aug.xlsx")
df

,CUSTOM_NAME,Product_name(Customer),BARCODE,DATE,연간 주,TOTAL IT,TOTAL QTY,TOTAL SU,|SHIPMENT-MOVEOUT|,SHIPMENT-MOVEOUT
0,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-08-01,31,96,0,4,96,96
1,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-08-02,31,48,0,2,48,48
2,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-08-03,31,288,0,11,288,288
3,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-08-04,32,nan,0,nan,0,0
4,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-08-05,32,nan,0,nan,0,0
...,...,...,...,...,...,...,...,...,...,...
12544,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-08-27,35,960,112,53,848,848
12545,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-08-28,35,984,91,55,893,893
12546,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-08-29,35,600,88,33,512,512
12547,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-08-30,35,120,116,7,4,4
12548,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-08-31,35,600,186,33,414,414

In [19]:
#--------------------------------------------------------8월 제품은 바코드가 600개------------------------------
df3=df.groupby(["CUSTOM_NAME","BARCODE","Product_name(Customer)"], as_index=False).mean().round(0)
df3.rename(columns={'|SHIPMENT-MOVEOUT|':'8월 GAP'}, inplace=True)
#8월달에서 필요없는 COLUMN을 없애기.
df3= df3.drop(["TOTAL SU", "연간 주","TOTAL QTY","SHIPMENT-MOVEOUT", "TOTAL IT"], axis=1)

In [20]:
df3
#   600개의 제품이 존재****   -->같은 제품끼리의 SHIPMENT-MOVEOUT 평균을 구함

    CUSTOM_NAME        BARCODE        Product_name(Customer)  8월 GAP
0       롯데마트 HM    37000321361  IVORY BAR ORIG 24/3-3.1Z 90G     156
1       롯데마트 HM    47400179172                    마하3 면도날 8입      26
2       롯데마트 HM    47400179349                    마하3 면도날 4입     125
3       롯데마트 HM    47400241442             질레트 센서티브 포오미 175G     335
4       롯데마트 HM    56100007067  IVORY BAR ORIG 12/10-3.1Z90G     226
..          ...            ...                           ...     ...
550     롯데마트 HM  8888826020905            질레트일회용면도기블루투플러스1개입      12
551     롯데마트 HM  8888855001432            질레트일회용면도기블루투플러스2개입     139
552     롯데마트 HM  9300627503290            질레트일회용면도기블루투플러스5개입     432
553     롯데마트 HM  9300647000328                    오랄-비 왁스 치실     955
554     롯데마트 HM  9300647000342                 오랄비 왁스 치실 50m    1917

[555 rows x 4 columns]

In [21]:
#read an excel file & make it into a DATAFRAME!
df = pd.read_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\롯데마트 HM\Sep.xlsx")
df

,CUSTOM_NAME,Product_name(Customer),BARCODE,DATE,연간 주,TOTAL IT,TOTAL QTY,TOTAL SU,|SHIPMENT-MOVEOUT|,SHIPMENT-MOVEOUT
0,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-09-01,36,nan,0,nan,0,0
1,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-09-02,36,nan,0,nan,0,0
2,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-09-03,36,96,0,4,96,96
3,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-09-04,36,2688,0,102,2688,2688
4,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-09-05,36,48,0,2,48,48
...,...,...,...,...,...,...,...,...,...,...
11729,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-09-26,39,672,95,37,577,577
11730,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-09-27,39,216,102,12,114,114
11731,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-09-28,39,432,173,24,259,259
11732,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-09-29,40,nan,146,nan,146,-146
11733,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-09-30,40,4920,110,274,4810,4810

In [22]:
#7월달에서 필요없는 COLUMN을 없애기.
df4= df.drop(["TOTAL SU", "연간 주","TOTAL QTY","SHIPMENT-MOVEOUT", "TOTAL IT", "DATE" ], axis=1)
df4=df4.groupby(["CUSTOM_NAME","BARCODE","Product_name(Customer)"], as_index=False).mean().round(0)

In [23]:
#9월달에 shipment, moveout 한 제품은 613개! 같은 것끼리 평균을 구했다.
df4.rename(columns={'|SHIPMENT-MOVEOUT|':'9월 GAP'}, inplace=True)

In [24]:
df4

    CUSTOM_NAME        BARCODE        Product_name(Customer)  9월 GAP
0       롯데마트 HM    37000321361  IVORY BAR ORIG 24/3-3.1Z 90G     130
1       롯데마트 HM    47400179172                    마하3 면도날 8입      47
2       롯데마트 HM    47400179349                    마하3 면도날 4입     334
3       롯데마트 HM    47400241442             질레트 센서티브 포오미 175G     956
4       롯데마트 HM    56100007067  IVORY BAR ORIG 12/10-3.1Z90G    1128
..          ...            ...                           ...     ...
567     롯데마트 HM  8888826020905            질레트일회용면도기블루투플러스1개입      20
568     롯데마트 HM  8888855001432            질레트일회용면도기블루투플러스2개입      79
569     롯데마트 HM  9300627503290            질레트일회용면도기블루투플러스5개입     288
570     롯데마트 HM  9300647000328                    오랄-비 왁스 치실    1203
571     롯데마트 HM  9300647000342                 오랄비 왁스 치실 50m    2269

[572 rows x 4 columns]

In [ ]:
#10월 데이터를 위한 테이블 생성하기

In [25]:
#read an excel file & make it into a DATAFRAME!
df = pd.read_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\롯데마트 HM\Oct.xlsx")
df

,CUSTOM_NAME,Product_name(Customer),BARCODE,DATE,연간 주,TOTAL IT,TOTAL QTY,TOTAL SU,|SHIPMENT-MOVEOUT|,SHIPMENT-MOVEOUT
0,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-10-01,40,480,0,18,480,480
1,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-10-02,40,nan,0,nan,0,0
2,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-10-03,40,nan,0,nan,0,0
3,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-10-04,40,nan,0,nan,0,0
4,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-10-05,40,nan,0,nan,0,0
...,...,...,...,...,...,...,...,...,...,...
12828,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-10-27,44,nan,27,nan,27,-27
12829,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-10-28,44,nan,133,nan,133,-133
12830,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-10-29,44,9864,82,548,9782,9782
12831,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-10-30,44,9672,81,538,9591,9591
12832,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-10-31,44,8376,82,466,8294,8294

In [26]:
#--------------------------------------------------------8월 제품은 바코드가 600개------------------------------
df5=df.groupby(["CUSTOM_NAME","BARCODE","Product_name(Customer)"], as_index=False).mean().round(0)
df5.rename(columns={'|SHIPMENT-MOVEOUT|':'10월 GAP'}, inplace=True)
#8월달에서 필요없는 COLUMN을 없애기.
df5= df5.drop(["TOTAL SU", "연간 주","TOTAL QTY","SHIPMENT-MOVEOUT", "TOTAL IT"], axis=1)

In [27]:
df5

    CUSTOM_NAME        BARCODE        Product_name(Customer)  10월 GAP
0       롯데마트 HM    37000321361  IVORY BAR ORIG 24/3-3.1Z 90G       87
1       롯데마트 HM    37000752011       팸퍼스 크루저 3단계 박스 1/120_S7       19
2       롯데마트 HM    37000752028       팸퍼스 크루저 4단계 박스 1/104_S7       18
3       롯데마트 HM    37000752035        팸퍼스 크루저 5단계 박스 1/90_S7       20
4       롯데마트 HM    37000752042        팸퍼스 크루저 6단계 박스 1/72_S7       19
..          ...            ...                           ...      ...
585     롯데마트 HM  8888826020905            질레트일회용면도기블루투플러스1개입       12
586     롯데마트 HM  8888855001432            질레트일회용면도기블루투플러스2개입       94
587     롯데마트 HM  9300627503290            질레트일회용면도기블루투플러스5개입      288
588     롯데마트 HM  9300647000328                    오랄-비 왁스 치실     1381
589     롯데마트 HM  9300647000342                 오랄비 왁스 치실 50m     2829

[590 rows x 4 columns]

In [ ]:
#11월 데이터 프레임 만들기

In [28]:
#read an excel file & make it into a DATAFRAME!
df = pd.read_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\롯데마트 HM\Nov.xlsx")
df

,CUSTOM_NAME,Product_name(Customer),BARCODE,DATE,연간 주,TOTAL IT,TOTAL QTY,TOTAL SU,|SHIPMENT-MOVEOUT|,SHIPMENT-MOVEOUT
0,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-11-05,45,3120,nan,119,3120,3120
1,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-11-14,46,240,nan,9,240,240
2,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-11-15,46,2400,0,92,2400,2400
3,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-11-19,47,240,nan,9,240,240
4,롯데마트 HM,팸퍼스 스와들러 3단계 26X4,37000748977,2019-11-12,46,4,0,1,4,4
...,...,...,...,...,...,...,...,...,...,...
12627,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-11-26,48,744,182,41,562,562
12628,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-11-27,48,4944,77,275,4867,4867
12629,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-11-28,48,602,103,36,499,499
12630,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-11-29,48,10128,98,563,10030,10030
12631,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-11-30,48,10824,136,602,10688,10688

In [30]:
#--------------------------------------------------------8월 제품은 바코드가 600개------------------------------
df6=df.groupby(["CUSTOM_NAME","BARCODE","Product_name(Customer)"], as_index=False).mean().round(0)
df6.rename(columns={'|SHIPMENT-MOVEOUT|':'11월 GAP'}, inplace=True)
df6= df6.drop(["TOTAL SU", "연간 주","TOTAL QTY", "TOTAL IT","SHIPMENT-MOVEOUT"], axis=1)

In [31]:
df6

    CUSTOM_NAME        BARCODE        Product_name(Customer)  11월 GAP
0       롯데마트 HM    37000321361  IVORY BAR ORIG 24/3-3.1Z 90G     1500
1       롯데마트 HM    37000748977             팸퍼스 스와들러 3단계 26X4        4
2       롯데마트 HM    37000749561             팸퍼스 스와들러 1단계 32X4        3
3       롯데마트 HM    37000749585             팸퍼스 스와들러 4단계 22X4        6
4       롯데마트 HM    37000749592             팸퍼스 스와들러 5단계 19X4        7
..          ...            ...                           ...      ...
627     롯데마트 HM  8888826020905            질레트일회용면도기블루투플러스1개입        0
628     롯데마트 HM  8888855001432            질레트일회용면도기블루투플러스2개입      278
629     롯데마트 HM  9300627503290            질레트일회용면도기블루투플러스5개입      192
630     롯데마트 HM  9300647000328                    오랄-비 왁스 치실      848
631     롯데마트 HM  9300647000342                 오랄비 왁스 치실 50m     1714

[632 rows x 4 columns]

In [32]:
#12월 데이터프레임 만들기*****

#read an excel file & make it into a DATAFRAME!
df = pd.read_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\롯데마트 HM\Dec.xlsx")
df

,CUSTOM_NAME,Product_name(Customer),BARCODE,DATE,연간 주,TOTAL IT,TOTAL QTY,TOTAL SU,|SHIPMENT-MOVEOUT|,SHIPMENT-MOVEOUT
0,롯데마트 HM,NaN,nan,2019-12-31,53,1934,nan,4499,1934,1934
1,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-12-04,49,240,nan,9,240,240
2,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-12-07,49,24,nan,1,24,24
3,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-12-10,50,240,nan,9,240,240
4,롯데마트 HM,IVORY BAR ORIG 24/3-3.1Z 90G,37000321361,2019-12-14,50,24,nan,1,24,24
...,...,...,...,...,...,...,...,...,...,...
12269,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-12-27,52,432,91,24,341,341
12270,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-12-28,52,672,144,37,528,528
12271,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-12-29,53,nan,152,nan,152,-152
12272,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-12-30,53,nan,122,nan,122,-122
12273,롯데마트 HM,오랄비 왁스 치실 50m,9300647000342,2019-12-31,53,10104,nan,562,10104,10104

In [33]:
#--------------------------------------------------------8월 제품은 바코드가 600개------------------------------
df7=df.groupby(["CUSTOM_NAME","BARCODE","Product_name(Customer)"], as_index=False).mean().round(0)
df7.rename(columns={'|SHIPMENT-MOVEOUT|':'12월 GAP'}, inplace=True)
df7= df7.drop(["TOTAL SU", "연간 주","TOTAL QTY", "TOTAL IT","SHIPMENT-MOVEOUT"], axis=1)

In [34]:
df7

    CUSTOM_NAME       BARCODE        Product_name(Customer)  12월 GAP
0       롯데마트 HM   37000321361  IVORY BAR ORIG 24/3-3.1Z 90G      178
1       롯데마트 HM   37000748977             팸퍼스 스와들러 3단계 26X4        1
2       롯데마트 HM   37000749561             팸퍼스 스와들러 1단계 32X4        1
3       롯데마트 HM   37000749585             팸퍼스 스와들러 4단계 22X4        4
4       롯데마트 HM   37000749592             팸퍼스 스와들러 5단계 19X4        3
..          ...           ...                           ...      ...
575     롯데마트 HM 8888826020905            질레트일회용면도기블루투플러스1개입        0
576     롯데마트 HM 8888855001432            질레트일회용면도기블루투플러스2개입      162
577     롯데마트 HM 9300627503290            질레트일회용면도기블루투플러스5개입      192
578     롯데마트 HM 9300647000328                    오랄-비 왁스 치실      527
579     롯데마트 HM 9300647000342                 오랄비 왁스 치실 50m     1503

[580 rows x 4 columns]

In [ ]:
# 7월~ 12월 데이터프레임을 BARCODE기준으로 JOIN시키기 
#----------> OMNI_GS 데이터프레임에 하나로 저장!!!!

#df2 - 7월 데이터
#df3- 8월 데이터
#df4 - 9월 데이터
# df5- 10월 데이터
# df6 = 11월 데이터
# df7 = 12월 데이터

In [35]:
#merge사용
df_merge_1= pd.merge(df2, df3, how='outer', on=['BARCODE','CUSTOM_NAME','Product_name(Customer)'])

In [36]:
df_merge_2 = pd.merge(df_merge_1, df4, how='outer', on=['BARCODE','CUSTOM_NAME','Product_name(Customer)'])

In [37]:
df_merge_3 = pd.merge(df_merge_2, df5, how='outer', on=['BARCODE','CUSTOM_NAME','Product_name(Customer)'])

In [38]:
df_merge_4 = pd.merge(df_merge_3, df6, how='outer', on=['BARCODE','CUSTOM_NAME','Product_name(Customer)'])

In [41]:
OMNI_LOTTE_HM = pd.merge(df_merge_4, df7, how='outer',on=['BARCODE','CUSTOM_NAME','Product_name(Customer)'])

In [42]:
#613개의 제품에 대한 "거래"가 있었고, 그것에 대한 데이터프레임
OMNI_LOTTE_HM

,CUSTOM_NAME,BARCODE,Product_name(Customer),7월 GAP,8월 GAP,9월 GAP,10월 GAP,11월 GAP,12월 GAP
0,롯데마트 HM,37000321361,IVORY BAR ORIG 24/3-3.1Z 90G,154,156,130,87,1500,178
1,롯데마트 HM,47400179172,마하3 면도날 8입,31,26,47,34,19,25
2,롯데마트 HM,47400179349,마하3 면도날 4입,237,125,334,332,169,201
3,롯데마트 HM,47400241442,질레트 센서티브 포오미 175G,743,335,956,595,498,605
4,롯데마트 HM,56100007067,IVORY BAR ORIG 12/10-3.1Z90G,306,226,1128,372,363,444
...,...,...,...,...,...,...,...,...,...
693,롯데마트 HM,4902430246705,HS SHM 200MLX6 ISC EXP KR,nan,nan,nan,nan,nan,1050
694,롯데마트 HM,4902430258777,오랄비 치간 칫솔 60개입 (20PX3) 코스트코 팩,nan,nan,nan,nan,nan,1760
695,롯데마트 HM,4902430780087,질레트 프로쉴드 PYC 스페셜 팩,nan,nan,nan,nan,nan,0
696,롯데마트 HM,4902430851794,질레트 프로글라이드+젤 추석팩,nan,nan,nan,nan,nan,0
697,롯데마트 HM,4902430909303,질레트 센서 3 면도기 1입 (CVS),nan,nan,nan,nan,nan,26297

In [43]:
# P3M, P6M --->에 대한 GAP을 구하기.
#먼저 NaN을 0으로 처리하기
OMNI_LOTTE_HM = OMNI_LOTTE_HM .fillna(0)

#make new column (P3M gap)
OMNI_LOTTE_HM ['P3M GAP']= OMNI_LOTTE_HM .apply(lambda row: (row[6] + row[7] + row[8])/3 ,axis=1)

#make new column (P6M gap)
OMNI_LOTTE_HM['P6M GAP']=OMNI_LOTTE_HM .apply(lambda row: (row[3] + row[4] + row[5]+row[6] + row[7] + row[8])/6,axis=1)

In [44]:
OMNI_LOTTE_HM .style.apply(lambda x: ['background: lightblue' if x.name == "P6M GAP" else '' for i in x])
OMNI_LOTTE_HM

,CUSTOM_NAME,BARCODE,Product_name(Customer),7월 GAP,8월 GAP,9월 GAP,10월 GAP,11월 GAP,12월 GAP,P3M GAP,P6M GAP
0,롯데마트 HM,37000321361,IVORY BAR ORIG 24/3-3.1Z 90G,154,156,130,87,1500,178,588,368
1,롯데마트 HM,47400179172,마하3 면도날 8입,31,26,47,34,19,25,26,30
2,롯데마트 HM,47400179349,마하3 면도날 4입,237,125,334,332,169,201,234,233
3,롯데마트 HM,47400241442,질레트 센서티브 포오미 175G,743,335,956,595,498,605,566,622
4,롯데마트 HM,56100007067,IVORY BAR ORIG 12/10-3.1Z90G,306,226,1128,372,363,444,393,473
...,...,...,...,...,...,...,...,...,...,...,...
693,롯데마트 HM,4902430246705,HS SHM 200MLX6 ISC EXP KR,0,0,0,0,0,1050,350,175
694,롯데마트 HM,4902430258777,오랄비 치간 칫솔 60개입 (20PX3) 코스트코 팩,0,0,0,0,0,1760,587,293
695,롯데마트 HM,4902430780087,질레트 프로쉴드 PYC 스페셜 팩,0,0,0,0,0,0,0,0
696,롯데마트 HM,4902430851794,질레트 프로글라이드+젤 추석팩,0,0,0,0,0,0,0,0
697,롯데마트 HM,4902430909303,질레트 센서 3 면도기 1입 (CVS),0,0,0,0,0,26297,8766,4383

In [45]:
OMNI_LOTTE_HM.to_excel(r"C:\Users\kim.y.17\OneDrive - Procter and Gamble\Desktop\P&G\DATA\EXCEL File for analysis\OMNI_channel\롯데마트 HM\LOTTE_HM_output.xlsx")

In [449]:
###########################################################################################################################

In [455]:
# ABNORMAL GAP에 대해서 분석해본 것을 테이블로 정리하였다.
#이제는... daily DATA를 받아서 ABNORMAL 값으로 판단되면 HIGHTLIGHT ----> ALERT 보내도록 구현

# R 연동하기
# anaconda로 conda install -c r r-essentials

NameError: name 'install' is not defined